<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDay" value="${date:format=dd}"/>
  <variable name="LogDir" value="log"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/${LogDir}/log.${LogDay}.txt" layout="${longdate} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a"/>
    <target name="debugger" xsi:type="Debugger" layout="${logger:shortName=true}:${message} ${exception:format=tostring}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${logger:shortName=true}:${message} ${exception:format=tostring}">
      <!--<highlight-word regex="Request sent to" compileRegex="true" backgroundColor="DarkBlue" />
      <highlight-word regex="success" compileRegex="true" backgroundColor="DarkGreen" />-->
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
  </rules>
</nlog>